extends ../../../layouts/fullWidth.pug

block page-header
  h2 Issue Type Scheme

block content
  .row.mt-5
      .col-md-6.m-auto
          .card.card-body
            .messages
            include ../../../includes/messages.pug
              form(action=`/admin/issueTypeSchemes/${issueTypeScheme.name}/edit` method='POST')
                .form-group
                  p
                    strong Issue Type Scheme Name: 
                      input.form-control(type='text', name="name" value=issueTypeScheme.name, aria-label='issueTypeScheme Name')
                  p
                    strong Issue Type Scheme Description: 
                      input.form-control(type='text', name="description" value=issueTypeScheme.description, aria-label='issueTypeScheme Description')
                button.btn.btn-primary(type="submit") Speichern
              hr
              form(action=`/admin/issueTypeSchemes/${issueTypeScheme.name}/addField` method="POST")
                .d-flex
                  input(type="text" placeholder="Field Name" name="fieldname").col-4.mr-2
                  select(name="fieldtype").col-4.mr-2
                    option(disabled selected) Select Type
                    option(value="text") Text
                    option(value="textarea") Textarea
                  button(type="submit").btn.btn-primary.col-2  Add Field
              #list-tab.list-group.mt-3(role='tablist')
                each field,index in issueTypeScheme.fields
                  a#list-home-list.list-group-item.list-group-item-action.d-flex.justify-content-between.border.border-light.rounded.mb-2(href='#list-home', role='tab', aria-controls='home') #{field.name}
                    span.badge.badge-primary.badge-pill.d-flex.align-items-center #{field.type}