extends ../layouts/fullWidth.pug

block page-header
  include ./includes/pagination

block content
  include ../includes/messages.pug
  .d-flex.justify-content-end
    each date,index in weekdays
      -var today = checkToday[index] ? 'today' : ''
      .col.border-left.border-secondary.px-0.pt-3(class=today)
        .col
          h4.mb-0 #{dayNames[index]}
          small #{date}
            .col.mt-3.p-0
              -var dayExists = existingDays.includes(date)
                if dayExists
                  button(data-day=date type='button', data-toggle='modal', data-target='#addModuleModal' href="/addModule").btn.btn-block.btn-info.addModuleBtn.mb-3 Add Module
                  each issue,index in issues
                    -var isIssueInDay =  issue.date.includes(date)
                    if isIssueInDay
                      .card.mb-2
                        //- img.card-img-top(src='...', alt='Card image cap')
                        .card-body
                          h4.card-title #{issue.issueType}
                          p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card's content.
                          a.btn.btn-primary(href='#') Go somewhere
                else
                  button(id=date.replace(/-/g,""),data-day=date).btn.btn-block.btn-success.addDayBtn Create a new day
    include ./includes/addModuleModal