extends ../layouts/fullWidth.pug

block page-header
  include ./includes/pagination

block content
  include ../includes/messages.pug
  .d-flex.justify-content-end
    each date,index in weekdays
      -var today = checkToday[index] ? 'today' : ''
      .col.border-left.border-secondary.px-0.pt-3(class=today)
        .col
          h4.mb-0 #{dayNames[index]}
          small #{date}
            .col.mt-3.p-0
              -var dayExists = existingDays.includes(date)
                if dayExists
                  button(data-day=date type='button', data-toggle='modal', data-target='#addModuleModal' href="/addModule").btn.btn-block.btn-info.addModuleBtn Add Module
                  p Issues:
                  each issue,index in issues
                    li #{issue}
                    p asd
                    //- -var isIssueInDay =  issue.date.includes(date)
                    //- li #{isIssueInDay}
                else
                  button(id=date.replace(/-/g,""),data-day=date).btn.btn-block.btn-success.addDayBtn Create a new day
    include ./includes/addModuleModal